# most of the nginx config used by proxy.dr1ft.xyz

server {

	listen 80;
	listen [::]:80;

	server_name proxy.dr1ft.xyz;

	root /var/www/proxy;
	
	try_files $uri $uri/ @assetproxy;

	location ~ ^/api/modules/canary/discord_desktop_core/ {
		if ($query_string ~ "platform=win") { return 302 https://proxy.dr1ft.xyz/bspwn/canary-win.zip; }
		if ($query_string ~ "platform=linux") { return 302 https://proxy.dr1ft.xyz/bspwn/canary-linux.zip; }
		if ($query_string ~ "platform=osx") { return 302 https://proxy.dr1ft.xyz/bspwn/canary-osx.zip; }
		return 404;
	}

        location ~ ^/api/modules/ptb/discord_desktop_core/ {
                if ($query_string ~ "platform=win") { return 302 https://proxy.dr1ft.xyz/bspwn/ptb-win.zip; }
                if ($query_string ~ "platform=linux") { return 302 https://proxy.dr1ft.xyz/bspwn/ptb-linux.zip; }
		if ($query_string ~ "platform=osx") { return 302 https://proxy.dr1ft.xyz/bspwn/ptb-osx.zip; }
                return 404;
        }

	location ~ ^/api/modules/(stable|development)/discord_desktop_core/ {
                if ($query_string ~ "platform=win") { return 302 https://proxy.dr1ft.xyz/bspwn/stable-win.zip; }
                if ($query_string ~ "platform=linux") { return 302 https://proxy.dr1ft.xyz/bspwn/stable-linux.zip; }
		if ($query_string ~ "platform=osx") { return 302 https://proxy.dr1ft.xyz/bspwn/stable-osx.zip; }
                return 404;
        }

	# api_handler.js would handle this
	location ~ ^/api/modules/ {
		proxy_pass http://127.0.0.1:8080;
	}

	# this passes the connection to discord's actual servers
	location @assetproxy {
		proxy_pass https://discordapp.com;
	}

}
